certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
requests==2.28.1
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
urllib3==1.26.11
